.list{
    display: flex;
    list-style: none;
    text-decoration: none;
    gap: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar{
    padding: 0.8rem 1rem;
    color: white;display: flex;
   justify-content: center;
    align-items: center;
}
.navbarrow{
    display: flex;
    justify-content: center;
    align-items: center;
    
    flex-direction: row;
}
.col{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menubtn {
  font-size: 34px;
  padding: 20px;
  cursor: pointer;
  position: fixed;
  top: -10px;
  left: 20px;
  display: none;
  
  background: none;
  z-index: 1001;
  color: white;
  border: none;
}
@media screen and (max-width:521px) {
    .list{
        display: none;
    }
    .menubtn {
        display: flex;
    }
    .sidebar{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .logo{
       display: none;
    }
}
.list.open{
    left: 0;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    background: none;
    overflow: visible;
    gap: 0.3rem;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 2rem;
}
.togglebtn{
    display: flex; justify-content: flex-start;
    align-items: flex-start;
}