.box1{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
}
.box2{
      display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
  margin-top: 2rem;
  flex-direction: row-reverse;
  gap: 2rem;
}
.projectdetail {
  
  padding: 2rem;
 
}
.projecttype {
  color: rgba(152, 87, 211, 1);
}
@media screen and (max-width:1067px) {
    .box1{
        display: flex;
        flex-direction: column;
        
    }
     .box2{
        display: flex;
        flex-direction: column;
        
    }
}
@media screen and (max-width:781px) {
    .project1 .project{
        width: 23rem;
    }
 
}

.project{
  box-shadow: 2px 2px 2220px purple;
}