.body {
  padding: 2rem 1rem;
}

.heading {
  color: white;
  text-align: center;
  margin-bottom: 2rem;
}

.skillBox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  height: 12rem;
   background-image: linear-gradient(#130428,#251043,#38126D,#261045);
   box-shadow:1px 10px 10px #261045 ;
   padding: 1rem;
   color: white;
  gap: 1rem;
   border:1px solid rgb(103, 8, 211)

}

.img{
  width: 6rem;
}
.skillBox div h1, p{
  font-size: 0.8rem;
  gap: 0;
}
.skillBox:hover{
  padding: 1rem;
  box-shadow: 2px 2px 2220px purple;

}